:root {
	--bg-color: #252728;
	--bg-color-inverted: #e6e8ed;
	--bg-color-code: #d1dfe8;
	--text-color: #e6e8ed;
	--text-color-inverted: #252728;
	--text-secondary-color: #a9b0b8;
	--border-article-color: #848d96;
	--share-icons-color: #999;
	--blue-color: #3e6d95;
	--skeleton-blink-color: #757575;
}